In [2]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('rising_nepal_daily_all_news.db')

In [4]:
## Use this approach if you don't know the table names
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = conn.execute(query).fetchall()

In [5]:
tables

[('my_table',)]

In [6]:
## Now use the name of table
query = "SELECT * FROM my_table"
df = pd.read_sql(query, conn)

In [7]:
df.head(2)

,website_name,category,title,authors,published_date,content,language,url
0,The Rising Nepal,https://www.risingnepaldaily.com/categories/na...,PM Prachanda urges to redouble efforts to scal...,TRN Online,"Mon, 24 July 2023","Kathmandu, July 24: Prime Minister Pushpa Kama...",English,https://www.risingnepaldaily.com/news/29883
1,The Rising Nepal,https://www.risingnepaldaily.com/categories/na...,BPKIHS launches 30-bed dengue ward over soarin...,TRN Online,"Mon, 24 July 2023","Inaruwa, July 24 : The BP Koirala Institute ...",English,https://www.risingnepaldaily.com/news/29871